<div class="header">
  <div id="react-logo">
    <img src="<%= image_path('react-logo.svg') %>" >
  </div>
  <div id="title">ReactiFlux</div>
  <div id="sub-title">React + Flux Community</div>
</div>

<div class="row action">
  <div class="col-xs-12 col-md-12">
    <button type="button" id="btn-join">
      Join us on Slack
    </button>
    <button type="button" id="btn-jobs">
      React jobs
    </button>
  </div>
</div>

<div class="content">
</div>