body {
  background-image: image_url('bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

button {
	@include border-radius(5px);
	background-color:rgba(0, 0, 0, 0.3);
	border: 1px solid white;
	color: white;
	padding: 1em;
	&:hover {
		background-color: white;
		color: $space-purple;
	}
}

.header {
	margin-top: 6em;
	text-align: center;
	vertical-align: middle;
	display: block;
}

#react-logo {
	display: inline-block;
	vertical-align: -30%;
	img {
		display: block;
		height: 3em;
	}
}

#title {
	display: inline;
	color: white;
	font-size: 3em;
	letter-spacing: 0.2em;
}

#sub-title {
	display: block;
	color: white;
	font-size: 1.5em;
	letter-spacing: 0.2em;
}

.action {
	margin: 1.2em 0;
	text-align: center;
	button {
		margin: 1.2em;
	}
}

.content {
	height: 500px;
	bottom: 0;
	background: white;
}