<!DOCTYPE html>
<html>
<head>
  <title>Reactiflux</title>
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
